<div class="container">
  <h2 class="text-center"><%= @user.name %></h2>

  <div class="row">
    <div class="col-6">
      <%= form_for [@user, @exercise] do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name, placeholder: 'Back Squat, 1 Mile Run, Max Reps Pull-ups, etc.' %>
        <%= f.label :record %>
        <%= f.number_field :record, placeholder: 'How much, how fast, how many?' %>
        <%= f.select(:unit,['Pounds', 'Kilos', 'Time (seconds)', 'Reps']) %>
        <%= f.label :date %>
        <%= f.date_field :date %>
        <%= f.submit %>
      <% end %>
    </div>

    <div class="col-6">
      <% if @exercises.any? %>
        <div class="records">
          <% @exercises.each do |exercise| %>
            <p><%= exercise.name %> |
                <% if exercise.unit == "Time (seconds)" %>
                  <%= exercise.convert_time %>
                <% else %>
                  <%= exercise.record %> <%= exercise.unit %>
                <% end %>
               | <%= exercise.date %> <%= link_to 'Update & View History', user_exercise_path(@user, exercise) %></p>
          <!--why are there trailing || ? -->
          <% end %>
        </div>
      <% end %>
    </div>
    <!--column for prs -->
    <!--column for new -->
    <!--search and history functions-->
  </div>
</div>
