<div class="container">
  <h1 class="text-center name"><%= @user.name %></h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-6">
      <%= form_for [@user, @exercise] do |f| %>
        <h2 class="text-center">Add a New PR</h2>
        <%= f.label :name %>
        <%= f.text_field :name, placeholder: 'Back Squat, 1 Mile Run, Max Reps Pull-ups, etc.', class: 'input-light' %>
        <%= f.label :record %>
        <%= f.number_field :record, placeholder: 'How much, how fast, how many?', class: 'input-light' %>
        <%= f.label :unit %>
        <%= f.select(:unit,['Pounds', 'Kilos', 'Time (seconds)', 'Reps']) %>
        <%= f.label :date %>
        <%= f.date_field :date, class: 'input-light' %>
        <%= f.button 'PR City!', class: "btn-dark" %>
      <% end %>
    </div>

    <div class="col-6">
      <% if @exercises.any? %>
        <div class="exercise-list">
          <h2 class="text-center">Your PRs</h2>
          <table style="width:100%">
            <tr>
              <th>Exercise</th>
              <th>Record</th>
              <th>Date</th>
            </tr>
            <% @exercises.each do |exercise| %>
              <tr class="text-center">
                <td><%= link_to exercise.name, user_exercise_path(@user, exercise) %></td>
                <% if exercise.unit == "Time (seconds)" %>
                  <td><%= exercise.convert_time %></td>
                <% else %>
                  <td><%= exercise.record %> <%= exercise.unit %></td>
                <% end %>
                <td><%= exercise.date %></td>
            <% end %>
          </table>
        </div>
      <% end %>
    </div>
    <!--column for prs -->
    <!--column for new -->
    <!--search and history functions-->
  </div>
</div>
