<div class="container">
  <h2 class="text-center"><%= @user.name %></h2>

  <div class="row">
    <div class="col-6">
      <%= form_for [@user, @exercise] do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name, placeholder: 'Back Squat, 1 Mile Run, Max Reps Pull-ups, etc.' %>
        <%= f.label :record %>
        <%= f.number_field :record, placeholder: 'How much, how fast, how many?' %>
        <!-- change below to a select field -->
        <!-- would be cool to select type and then have input field change!! -->
        <%= f.label :unit %>
        <%= f.text_field :unit, placeholder: 'Pounds, Kilos, Time (in seconds), Reps, etc.' %>
        <%= f.label :date %>
        <%= f.date_field :date %>
        <%= f.submit %>
      <% end %>
    </div>

    <div class="col-6">
      <% if @exercises.any? %>
        <div class="records">
          <% @exercises.each do |exercise| %>
            <p><%= exercise.name %> | <%= exercise.record %> <%= exercise.unit %> | <%= exercise.date %> <%= link_to 'Update', edit_user_exercise_path(@user, exercise) %></p>
          <!--why are there trailing || ? -->
          <% end %>
        </div>
      <% end %>
    </div>
    <!--column for prs -->
    <!--column for new -->
    <!--search and history functions-->
  </div>
</div>
