<div class="container">
  <h1 class="text-center name"><%= @exercise.name %><h1>
  <h1 class="text-center"><%= @exercise.record %> <%= @exercise.unit %></h1>
  <!--refactor to show record/unit as they need to be based on time or weight - do this in the model!-->

  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="exercise-list">
        <h4 class="text-center">History</h4>
        <% @revisions.each do |revision| %>
        <p><%= revision.record %> <%= revision.unit %> | <%= revision.date %></p>
        <% end %>
      </div>
      <br>
      <%= form_for [@user, @exercise] do |f| %>
        <h2 class="text-center">Update <% @exercise.name %></h2>
        <hr>
        <%= f.label :name %>
        <%= f.text_field :name, class: 'input-light' %>
        <%= f.label :record %>
        <%= f.number_field :record, class: 'input-light' %>
        <%= f.label :unit %>
        <%= f.text_field :unit, class: 'input-light' %>
        <%= f.label :date %>
        <%= f.date_field :date, class: 'input-light' %>
        <%= f.button 'PR City!', class: "btn-dark" %>
      <% end %>
    </div>
  </div>
</div>
