
<%= form_for(resource, as: resource_name, url: registration_path(resource_name))  do |f| %>
  <header class="form-header-light">Sign Up</header>
    <div class="f-col-1 flex-center">
      <%= devise_error_messages! %>
      <%= f.text_field :first_name, autofocus: true, class: 'input-pop', placeholder: 'First Name' %>
      <%= f.text_field :last_name, class: 'input-pop', placeholder: 'Last Name' %>
      <%= f.email_field :email, class: 'input-pop', placeholder: 'Email' %>
      <%= f.password_field :password, autocomplete: "off", class: 'input-pop', placeholder: 'Password (minimum 6 characters)' %>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'input-pop', placeholder: 'Confirm Password' %>

    </div>
    <div class="f-col-1 flex-center">
      <%= f.submit "Sign up", class: 'btn-dark' %>
      <!-- <button type="button" class="btn-dark">Centered Button</button> -->
    </div>

    <%= render "users/shared/links" %>
<% end %>
